.page {
  --color-primary: #F86600;

  display: flex;
  flex-direction: column;
  min-height: 100svh;
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: column;
}

.id {
  margin-bottom: 10px;
  color: var(--color-primary);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  max-width: 400px;
  width: 400px;
}

.logo-container {
  position: fixed;
  top: 50%;
  transform: translate(-100%, -50%);
  z-index: -1;
  height: 60svh;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
  transform: translate(-150%, -50%);
  opacity: 0;
  }

  to {
  transform: translate(-100%, -50%);
  opacity: 1;
  }
}

.logo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}

.footer {
  text-align: center;
}
