.page {
  --color-primary: #F86600;

  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  min-height: 100svh;
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: column;
}

.id {
  margin-bottom: 10px;
  font-size: 32px;
  color: var(--color-primary);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}

.logo {
  position: absolute;
  transform: translateX(-100%);
}

.footer {
  text-align: center;
}
