.asteroid__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.asteroid__item:last-child {
  margin-bottom: 0;
}

.asteroid__heading {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.asteroid__description {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.asteroid__distance {
  display: flex;
  flex-direction: column;
}

.distance__value {
  margin-bottom: 8px;
}

.distance__arrow {
  width: 100%;
}

.asteroid__picture {
  margin: 0 8px;
}

.asteroid__details {
  display: flex;
  flex-direction: column;
}

.details__name {
  margin-bottom: 2px;
  text-decoration: underline;
  font-weight: bold;
}

.details__name:hover {
  color: var(--color-primary)
}

.details__diameter {
  font-size: 12px;
}

.asteroid__order {
  display: flex;
  align-items: center;
}

.order__button {
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 11px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--color-primary);
}

.order__button:hover {
  background-color: var(--color-primary-dimmed);
  color: var(--color-beige)
}

.order__button_active {
  background-color: var(--color-primary-dimmed);
  color: var(--color-beige)
}

.order__hazardous {
  font-size: 14px;
  color: var(--color-grey);
}
