.approaches {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.approaches__list {
  margin-bottom: 24px;
  list-style: none;
}

.approaches__item {
  margin-bottom: 4px;
}

.approaches__distance-list {
  margin-left: 24px;
}
